{erl_opts, [debug_info]}.

{deps, [ {aesophia_cli, {git, "git://github.com/aeternity/aesophia_cli",
          {tag, "v4.3.1"}}}
       , {aesophia_aci_encoder, {git, "https://github.com/aeternity/aesophia_aci_encoder",
          {ref, "41d0427"}}}
       , {jsx, {git, "https://github.com/talentdeficit/jsx.git",
                     {tag, "2.8.0"}}}
       ]}.
