{erl_opts, [debug_info]}.

{deps, [ {aesophia_cli, {git, "git://github.com/aeternity/aesophia_cli",
          {tag, "v6.0.0"}}}
       , {aesophia_aci_encoder, {git, "https://github.com/aeternity/aesophia_aci_encoder",
          {ref, "603c802"}}}
       , {jsx, {git, "https://github.com/talentdeficit/jsx.git",
                     {tag, "2.9.0"}}}
       ]}.
